RoshadeSetup.exe
Roshade Setup.exe
Setup/Util
Setup/Sections
Files/Preset/Apocalypse.ini
Files/Preset/MonsterVision.ini
Files/Preset/Weather.ini
Files/Preset/meshedges.ini
Files/Preset/Roshade Ultra.ini